edu-transfer/app/add-student-parent-info.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - breadCrumbLabels = ["TƏHSİL ZONASI", "SƏNƏD", "UTİS MƏLUMATLARI", "PTPK MƏLUMATLARI", "TƏHSİL MƏLUMATLARI", "VALİDEYN MƏLUMATI"];
    - registerForm = 'add-student-complete-form';
    - pageIndex = 5;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="parent-fin")
                        | I Valideynin Fin kodu
                        |
                        span.text-danger *
                    input#parent-fin.form-control.w-75.d-inline-block.align-middle(type="text" name="parent-fin")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="first-name")
                        | Ad
                    input#first-name.form-control.w-75(type="text" name="first-name" autocomplete="off")
                .col-4
                    label.d-block(for="last-name")
                        | Soyad
                    input#last-name.form-control.w-75(type="text" name="last-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="middle-name")
                        | Ata adı
                    input#middle-name.form-control.w-75(type="text" name="middle-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="birth-date")
                        | Təvəllüd
                    input#birth-date.form-control.w-75(type="text" name="birth-date" data-pick-date autocomplete="off")
                .col-4
                .col-4.mt-5
                    label.d-block(for="sec-parent-fin")
                        | II Valideynin Fin kodu
                        |
                        span.text-danger *
                    input#sec-parent-fin.form-control.w-75.d-inline-block.align-middle(type="text" name="sec-parent-fin")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4.mt-5
                    label.d-block(for="sec-first-name")
                        | Ad
                    input#sec-first-name.form-control.w-75(type="text" name="sec-first-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sec-last-name")
                        | Soyad
                    input#sec-last-name.form-control.w-75(type="text" name="sec-last-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sec-middle-name")
                        | Ata adı
                    input#sec-middle-name.form-control.w-75(type="text" name="sec-middle-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sec-birth-date")
                        | Təvəllüd
                    input#sec-birth-date.form-control.w-75(type="text" name="sec-birth-date" data-pick-date autocomplete="off")
                .col-4
                .col-4.mt-5
                    .custom-control.custom-checkbox
                        input.custom-control-input(type="checkbox" id="sec-no-parent-info" name="sec-no-parent-info")
                        label.custom-control-label(for="sec-no-parent-info") II Valideyn məlumatları yoxdur


block scripts
    script(src="scripts/main.js")

edu-transfer/dist/add-student-parent-info.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Uşaq əlavə et- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>TƏHSİL ZONASI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>UTİS MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>PTPK MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>TƏHSİL MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>VALİDEYN MƏLUMATI</span><div class="back"></div></li></ul></nav><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black tick" href="#">Əsas səhifə</a><ul><li><a class="text-black active" href="#">Uşaq əlavə et</a></li><li><a class="text-black tick" href="#">Müraciət et</a><ul><li><a class="text-black" href="#">Dövlət məktəbi</a></li><li><a class="text-black" href="#">Özəl məktəb</a></li><li><a class="text-black" href="#">Məcburi köçkün məktəbi</a></li></ul></li><li><a class="text-black" href="#">Növbəyə düş</a></li></ul></li><li><a class="text-black" href="#">Tənzimləmələr</a></li><li><a class="text-black" href="#">İrad və təkliflər</a></li><li><a class="text-black" href="#">Əməliyyatlar tarixçəsi</a></li></ul></div></div><div class="col"><div class="main-wrapper"><section class="mt-5" id="register-document-page"><form action="#" id="add-student-complete-form"><div class="form-row align-items-start"><div class="col-4"><label class="d-block" for="parent-fin">I Valideynin Fin kodu <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="parent-fin" type="text" name="parent-fin"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label class="d-block" for="first-name">Ad</label> <input class="form-control w-75" id="first-name" type="text" name="first-name" autocomplete="off"></div><div class="col-4"><label class="d-block" for="last-name">Soyad</label> <input class="form-control w-75" id="last-name" type="text" name="last-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="middle-name">Ata adı</label> <input class="form-control w-75" id="middle-name" type="text" name="middle-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="birth-date">Təvəllüd</label> <input class="form-control w-75" id="birth-date" type="text" name="birth-date" data-pick-date autocomplete="off"></div><div class="col-4"></div><div class="col-4 mt-5"><label class="d-block" for="sec-parent-fin">II Valideynin Fin kodu <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="sec-parent-fin" type="text" name="sec-parent-fin"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4 mt-5"><label class="d-block" for="sec-first-name">Ad</label> <input class="form-control w-75" id="sec-first-name" type="text" name="sec-first-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="sec-last-name">Soyad</label> <input class="form-control w-75" id="sec-last-name" type="text" name="sec-last-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="sec-middle-name">Ata adı</label> <input class="form-control w-75" id="sec-middle-name" type="text" name="sec-middle-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="sec-birth-date">Təvəllüd</label> <input class="form-control w-75" id="sec-birth-date" type="text" name="sec-birth-date" data-pick-date autocomplete="off"></div><div class="col-4"></div><div class="col-4 mt-5"><div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="sec-no-parent-info" name="sec-no-parent-info"> <label class="custom-control-label" for="sec-no-parent-info">II Valideyn məlumatları yoxdur</label></div></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#add-student-complete-form").submit()'>QEYDİYYATI TAMAMLA</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>
