edu-transfer/app/add-student-doc.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'add-student-doc-form';
    - pageIndex = 1;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="fin")
                        | Fin kodu
                        |
                        span.text-danger *
                    input#fin.form-control.w-75.d-inline-block.align-middle(type="text" name="fin")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="series")
                        | Seriya
                        |
                        span.text-danger *
                    input#series.form-control.w-75(type="text" name="series")
                .col-4
                    label.d-block(for="phone-number")
                        | Nömrə
                        |
                        span.text-danger *
                    input#phone-number.form-control.w-75(type="text" name="phone-number")
                .col-4.mt-5
                    label.d-block(for="type")
                        | Növ
                        |
                        span.text-danger *
                    input#type.form-control.w-75(type="text" name="type" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="first-name")
                        | Ad
                        |
                        span.text-danger *
                    input#first-name.form-control.w-75(type="text" name="first-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="last-name")
                        | Soyad
                        |
                        span.text-danger *
                    input#last-name.form-control.w-75(type="text" name="last-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="middle-name")
                        | Ata adı
                        |
                        span.text-danger *
                    input#middle-name.form-control.w-75(type="text" name="middle-name" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="birth-date")
                        | Təvəllüd
                        |
                        span.text-danger *
                    input#birth-date.form-control.w-75(type="text" name="birth-date" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="sex")
                        | Cinsi
                        |
                        span.text-danger *
                    input#sex.form-control.w-75(type="text" name="sex" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="country")
                        | Ölkə
                        |
                        span.text-danger *
                    input#country.form-control.w-75(type="text" name="country" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="address")
                        | Ünvan
                        |
                        span.text-danger *
                    input#address.form-control.w-75(type="text" name="address" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="apartment")
                        | Ev
                        |
                        span.text-danger *
                    input#apartment.form-control.w-75(type="text" name="apartment" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="passport-department")
                        | Verən orqan
                        |
                        span.text-danger *
                    input#passport-department.form-control.w-75(type="text" name="passport-department" autocomplete="off")
                .col-4.mt-5
                    label.d-block(for="passport-expire-date")
                        | Etibarlılıq tarixi
                        |
                        span.text-danger *
                    input#passport-expire-date.form-control.w-75(type="text" name="passport-expire-date" autocomplete="off")

edu-transfer/dist/add-student-doc.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Uşaq əlavə et- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>TƏHSİL ZONASI</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>UTİS MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>PTPK MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>TƏHSİL MƏLUMATLARI</span><div class="back"></div></li></ul></nav><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black tick" href="#">Əsas səhifə</a><ul><li><a class="text-black active" href="#">Uşaq əlavə et</a></li><li><a class="text-black tick" href="#">Müraciət et</a><ul><li><a class="text-black" href="#">Dövlət məktəbi</a></li><li><a class="text-black" href="#">Özəl məktəb</a></li><li><a class="text-black" href="#">Məcburi köçkün məktəbi</a></li></ul></li><li><a class="text-black" href="#">Növbəyə düş</a></li></ul></li><li><a class="text-black" href="#">Tənzimləmələr</a></li><li><a class="text-black" href="#">İrad və təkliflər</a></li><li><a class="text-black" href="#">Əməliyyatlar tarixçəsi</a></li></ul></div></div><div class="col"><div class="main-wrapper"><section class="mt-5" id="register-document-page"><form action="#" id="add-student-doc-form"><div class="form-row align-items-start"><div class="col-4"><label class="d-block" for="fin">Fin kodu <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="fin" type="text" name="fin"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label class="d-block" for="series">Seriya <span class="text-danger">*</span></label> <input class="form-control w-75" id="series" type="text" name="series"></div><div class="col-4"><label class="d-block" for="phone-number">Nömrə <span class="text-danger">*</span></label> <input class="form-control w-75" id="phone-number" type="text" name="phone-number"></div><div class="col-4 mt-5"><label class="d-block" for="type">Növ <span class="text-danger">*</span></label> <input class="form-control w-75" id="type" type="text" name="type" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="first-name">Ad <span class="text-danger">*</span></label> <input class="form-control w-75" id="first-name" type="text" name="first-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="last-name">Soyad <span class="text-danger">*</span></label> <input class="form-control w-75" id="last-name" type="text" name="last-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="middle-name">Ata adı <span class="text-danger">*</span></label> <input class="form-control w-75" id="middle-name" type="text" name="middle-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="birth-date">Təvəllüd <span class="text-danger">*</span></label> <input class="form-control w-75" id="birth-date" type="text" name="birth-date" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="sex">Cinsi <span class="text-danger">*</span></label> <input class="form-control w-75" id="sex" type="text" name="sex" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="country">Ölkə <span class="text-danger">*</span></label> <input class="form-control w-75" id="country" type="text" name="country" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="address">Ünvan <span class="text-danger">*</span></label> <input class="form-control w-75" id="address" type="text" name="address" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="apartment">Ev <span class="text-danger">*</span></label> <input class="form-control w-75" id="apartment" type="text" name="apartment" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="passport-department">Verən orqan <span class="text-danger">*</span></label> <input class="form-control w-75" id="passport-department" type="text" name="passport-department" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="passport-expire-date">Etibarlılıq tarixi <span class="text-danger">*</span></label> <input class="form-control w-75" id="passport-expire-date" type="text" name="passport-expire-date" autocomplete="off"></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#add-student-doc-form").submit()'>NÖVBƏTİ</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
