edu-transfer/dist/add-student-complete.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Uşaq əlavə et- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>TƏHSİL ZONASI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>UTİS MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>PTPK MƏLUMATLARI</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>TƏHSİL MƏLUMATLARI</span><div class="back"></div></li></ul></nav><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black tick" href="#">Əsas səhifə</a><ul><li><a class="text-black active" href="#">Uşaq əlavə et</a></li><li><a class="text-black tick" href="#">Müraciət et</a><ul><li><a class="text-black" href="#">Dövlət məktəbi</a></li><li><a class="text-black" href="#">Özəl məktəb</a></li><li><a class="text-black" href="#">Məcburi köçkün məktəbi</a></li></ul></li><li><a class="text-black" href="#">Növbəyə düş</a></li></ul></li><li><a class="text-black" href="#">Tənzimləmələr</a></li><li><a class="text-black" href="#">İrad və təkliflər</a></li><li><a class="text-black" href="#">Əməliyyatlar tarixçəsi</a></li></ul></div></div><div class="col"><div class="main-wrapper"><section class="mt-5" id="register-document-page"><form class="h-100" action="#" id="add-student-complete-form"><div class="form-row align-items-start"><div class="col-4"><label class="d-block" for="study-program">Təhsil proqramı <span class="text-danger">*</span></label> <select class="form-control w-75" id="study-program" type="text" name="study-program"><option value=""></option></select></div><div class="col-4"><label class="d-block" for="study-language">Tədris dili <span class="text-danger">*</span></label> <select class="form-control w-75" id="study-language" type="text" name="study-language"><option value="0">Azərbaycan Respublikasının vətəndaşı</option></select></div><div class="col-4"><label class="d-block" for="study-form">Təhsil alma forması <span class="text-danger">*</span></label> <select class="form-control w-75" id="study-form" type="text" name="study-form"><option value="0"></option></select></div><div class="col-4 mt-5"><label class="d-block" for="present-school">Oxuduğu məktəb <span class="text-danger">*</span></label> <select class="form-control w-75" id="present-school" type="text" name="present-school"><option value="0"></option></select></div><div class="col-4 mt-5"><label class="d-block" for="special-program-name">Xüsusi təhsil proqramının adı <span class="text-danger">*</span></label> <input class="form-control w-75" id="special-program-name" type="text" name="special-program-name"></div><div class="col-4 mt-5"><label class="d-block" for="classification-info">Sinifdən sinfə keçmə məlumatları <span class="text-danger">*</span></label> <input class="form-control w-75" id="classification-info" type="text" name="classification-info"></div><div class="col-4 mt-5"><label class="d-block" for="foreign-langs">Xarici dillər <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="foreign-langs" type="text"> <button class="btn btn-outline-grey js-add-lang" type="button">+</button></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#add-student-complete-form").submit()'>QEYDİYYATI TAMAMLA</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>

edu-transfer/app/add-student-complete.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Uşaq əlavə et';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'add-student-complete-form';
    - pageIndex = 4;
block title
    | Uşaq əlavə et

block content
    section#register-document-page.mt-5
        form.h-100(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="study-program")
                        | Təhsil proqramı
                        |
                        span.text-danger *
                    select#study-program.form-control.w-75(type="text" name="study-program")
                        option(value="")
                .col-4
                    label.d-block(for="study-language")
                        | Tədris dili
                        |
                        span.text-danger *
                    select#study-language.form-control.w-75(type="text" name="study-language")
                        option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    label.d-block(for="study-form")
                        | Təhsil alma forması
                        |
                        span.text-danger *
                    select#study-form.form-control.w-75(type="text" name="study-form")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="present-school")
                        | Oxuduğu məktəb
                        |
                        span.text-danger *
                    select#present-school.form-control.w-75(type="text" name="present-school")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="special-program-name")
                        | Xüsusi təhsil proqramının adı
                        |
                        span.text-danger *
                    input#special-program-name.form-control.w-75(type="text" name="special-program-name")
                .col-4.mt-5
                    label.d-block(for="classification-info")
                        | Sinifdən sinfə keçmə məlumatları
                        |
                        span.text-danger *
                    input#classification-info.form-control.w-75(type="text" name="classification-info")
                .col-4.mt-5
                    label.d-block(for="foreign-langs")
                        |  Xarici dillər
                        |
                        span.text-danger *
                    input#foreign-langs.form-control.w-75.d-inline-block.align-middle(type="text")
                    button.btn.btn-outline-grey.js-add-lang(type="button") +


block scripts
    script(src="scripts/add-student-complete.js")
