edu-transfer/app/apply-gov-class.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Dövlət məktəbi';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'apply-gov-class-form';
    - pageIndex = 2;
    - var nextLabel = 'TƏSTİQ ET';
    - var breadCrumbRight = true;
    - breadCrumbLabels = ["MƏKTƏBİN TİPİ", "MƏKTƏBİ SEÇ", "SİNFİ SEÇ"];
block title
    | Müraciət et

block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="classes")
                        | Siniflər
                        |
                        span.text-danger *
                    select#classes.form-control.w-75.d-inline-block.align-middle(type="text" name="classes")
                        option(val="")
                    button.btn.btn-outline-grey(type="button") Təstiqlə

edu-transfer/dist/apply-gov-class.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Müraciət et- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row main-nav--right"><li class="main-nav--item"><div class="front"></div><span>MƏKTƏBİN TİPİ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>MƏKTƏBİ SEÇ</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>SİNFİ SEÇ</span><div class="back"></div></li></ul></nav><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black tick" href="#">Əsas səhifə</a><ul><li><a class="text-black" href="#">Uşaq əlavə et</a></li><li><a class="text-black tick" href="#">Müraciət et</a><ul><li><a class="text-black active" href="#">Dövlət məktəbi</a></li><li><a class="text-black" href="#">Özəl məktəb</a></li><li><a class="text-black" href="#">Məcburi köçkün məktəbi</a></li></ul></li><li><a class="text-black" href="#">Növbəyə düş</a></li></ul></li><li><a class="text-black" href="#">Tənzimləmələr</a></li><li><a class="text-black" href="#">İrad və təkliflər</a></li><li><a class="text-black" href="#">Əməliyyatlar tarixçəsi</a></li></ul></div></div><div class="col"><div class="main-wrapper"><section class="mt-5" id="register-document-page"><form action="#" id="apply-gov-class-form"><div class="form-row align-items-start"><div class="col-4"><label class="d-block" for="classes">Siniflər <span class="text-danger">*</span></label> <select class="form-control w-75 d-inline-block align-middle" id="classes" type="text" name="classes"><option val=""></option></select> <button class="btn btn-outline-grey" type="button">Təstiqlə</button></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#apply-gov-class-form").submit()'>TƏSTİQ ET</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
