edu-transfer/app/apply-gov-idp-school.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Məcburi köçkün məktəbi';
    - enableNav = false;
    - enableBreadCrumb = false;
    - registerForm = 'apply-gov-class-form';
    - pageIndex = 2;
    - var breadCrumbRight = true;
    - breadCrumbLabels = ["MƏKTƏBİN TİPİ", "KÖÇKÜN SƏNƏDİ", "MƏKTƏBİ SEÇ", "SİNFİ SEÇ"];
block title
    | Müraciət et



block content
    section#register-document-page.mt-5
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label.d-block(for="region")
                        | Rayon
                        |
                        span.text-danger *
                    select#region.form-control.w-75(type="text" name="region")
                        option(val="")
                .col-4
                    label.d-block(for="school-num")
                        | Məktəbin nömrəsi
                        |
                        span.text-danger *
                    select#school-num.form-control.w-75.d-inline-block.align-middle(type="text" name="school-num")
                        option(val="")
                    button.btn.btn-outline-grey(type="button") Yoxla
            #map.h-370.mt-2
block cdnscripts
    script.
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat:40.4158248, lng: 49.8239157},
                zoom: 11,
                mapTypeControl: false,
                streetViewControl: false
            });
        }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDit3_FGrJkVyH-ONGmHRCkSoqFiM8_WEI&callback=initMap" async defer)

edu-transfer/dist/apply-gov-idp-school.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Müraciət et- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row main-nav--right"><li class="main-nav--item"><div class="front"></div><span>MƏKTƏBİN TİPİ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>KÖÇKÜN SƏNƏDİ</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>MƏKTƏBİ SEÇ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SİNFİ SEÇ</span><div class="back"></div></li></ul></nav><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black tick" href="#">Əsas səhifə</a><ul><li><a class="text-black" href="#">Uşaq əlavə et</a></li><li><a class="text-black tick" href="#">Müraciət et</a><ul><li><a class="text-black" href="#">Dövlət məktəbi</a></li><li><a class="text-black" href="#">Özəl məktəb</a></li><li><a class="text-black active" href="#">Məcburi köçkün məktəbi</a></li></ul></li><li><a class="text-black" href="#">Növbəyə düş</a></li></ul></li><li><a class="text-black" href="#">Tənzimləmələr</a></li><li><a class="text-black" href="#">İrad və təkliflər</a></li><li><a class="text-black" href="#">Əməliyyatlar tarixçəsi</a></li></ul></div></div><div class="col"><div class="main-wrapper"><section class="mt-5" id="register-document-page"><form action="#" id="apply-gov-class-form"><div class="form-row align-items-start"><div class="col-4"><label class="d-block" for="region">Rayon <span class="text-danger">*</span></label> <select class="form-control w-75" id="region" type="text" name="region"><option val=""></option></select></div><div class="col-4"><label class="d-block" for="school-num">Məktəbin nömrəsi <span class="text-danger">*</span></label> <select class="form-control w-75 d-inline-block align-middle" id="school-num" type="text" name="school-num"><option val=""></option></select> <button class="btn btn-outline-grey" type="button">Yoxla</button></div></div><div class="h-370 mt-2" id="map"></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#apply-gov-class-form").submit()'>NÖVBƏTİ</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script><script>var map;function initMap(){map=new google.maps.Map(document.getElementById("map"),{center:{lat:40.4158248,lng:49.8239157},zoom:11,mapTypeControl:!1,streetViewControl:!1})}</script><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDit3_FGrJkVyH-ONGmHRCkSoqFiM8_WEI&amp;callback=initMap" async defer="defer"></script></body></html>
