edu-transfer/dist/document.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>SƏNƏD- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>SƏNƏDİN NÖVÜ</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN SƏNƏD NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYNİN SƏNƏDİ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ŞİFRƏ</span><div class="back"></div></li></ul></nav><main><div class="main-container"><section id="register-document-page"><form action="#" id="document-form"><div class="row"><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="fin">Fin kodu <span class="text-danger">*</span></label> <input class="form-control" id="fin" type="text" name="fin"></div><div class="col-auto"><button class="btn btn-outline-grey" type="button">Yoxla</button></div></div><div class="form-row align-items-end mt-2"><div class="col-auto"><label for="parent-name">Ata adı</label> <input class="form-control" id="parent-name" type="text" name="parent-name"></div></div></div><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="first-name">Ad</label> <input class="form-control" id="first-name" type="text" name="first-name"></div></div><div class="form-row align-items-end mt-2"><div class="col-auto"><label for="birth-date">Təvəllüd</label> <input class="form-control" id="birth-date" type="text" name="birth-date" autocomplete="off"></div></div></div><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="last-name">Soyad</label> <input class="form-control" id="last-name" type="text" name="last-name"></div></div></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#document-form").submit()'>NÖVBƏTİ</button></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>

edu-transfer/app/document.pug
extends ./includes/register_base.pug

block scripts
    script(src="scripts/main.js")

block vars
    - pageIndex = 1;
    - registerForm = 'document-form';

block title
    | SƏNƏD

block content
    section#register-document-page
        // document form start
        form(action="#" id=registerForm)
            .row
                .col-4
                    .form-row.align-items-end
                        .col-auto
                            label(for="fin")
                                | Fin kodu
                                |
                                span.text-danger *
                            input#fin.form-control(type="text" name="fin")
                        .col-auto
                            button.btn.btn-outline-grey(type="button") Yoxla
                    .form-row.align-items-end.mt-2
                        .col-auto
                            label(for="parent-name") Ata adı
                            input#parent-name.form-control(type="text" name="parent-name")
                .col-4
                    .form-row.align-items-end
                        .col-auto
                            label(for="first-name") Ad
                            input#first-name.form-control(type="text" name="first-name")
                    .form-row.align-items-end.mt-2
                        .col-auto
                            label(for="birth-date") Təvəllüd
                            input#birth-date.form-control(type="text" name="birth-date" autocomplete="off")
                .col-4
                    .form-row.align-items-end
                        .col-auto
                            label(for="last-name") Soyad
                            input#last-name.form-control(type="text" name="last-name")
        // document form end
