edu-transfer/app/home.pug
extends ./includes/base.pug

block title
    | Home

block content
    section#home-page
        .container
            .home_page_root.row.align-items-center
                .col.d-flex.justify-content-center.align-items-center.home-logo
                    a(href="#")
                        img(src="images/loqo-az-rengli.svg" alt="")
                .vertical-line
                .col.d-flex.justify-content-center.align-items-center.home-form
                    form(method="POST" action="#")
                        p.home-form--header
                            | ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span.input-group-text.custom-group-text
                                        img(src="images/user.svg" alt="")
                                input#pin-or-utis.form-control(type="text" placeholder="Fin və ya UTİS kodu" name="pin-or-utis")
                        .form-group
                            .input-group
                                .input-group-prepend
                                    span.input-group-text.custom-group-text
                                        img(src="images/padlock.svg" alt="")
                                input#password.form-control(type="text" placeholder="Şifrə" name="password")
                        .form-group.row.justify-content-between
                            .col-auto
                                a(href="#") ŞİFRƏNİ UNUTMUŞAM
                            .col-auto
                                a(href="") QEYDİYYAT
                        button.btn.btn-block.btn-primary
                            | Daxil ol

edu-transfer/dist/home.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Home- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><section id="home-page"><div class="container"><div class="home_page_root row align-items-center"><div class="col d-flex justify-content-center align-items-center home-logo"><a href="#"><img src="images/loqo-az-rengli.svg" alt=""></a></div><div class="vertical-line"></div><div class="col d-flex justify-content-center align-items-center home-form"><form method="POST" action="#"><p class="home-form--header">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</p><div class="form-group"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text custom-group-text"><img src="images/user.svg" alt=""></span></div><input class="form-control" id="pin-or-utis" type="text" placeholder="Fin və ya UTİS kodu" name="pin-or-utis"></div></div><div class="form-group"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text custom-group-text"><img src="images/padlock.svg" alt=""></span></div><input class="form-control" id="password" type="text" placeholder="Şifrə" name="password"></div></div><div class="form-group row justify-content-between"><div class="col-auto"><a href="#">ŞİFRƏNİ UNUTMUŞAM</a></div><div class="col-auto"><a href="">QEYDİYYAT</a></div></div><button class="btn btn-block btn-primary">Daxil ol</button></form></div></div></div></section><script src="scripts/vendor.js"></script></body></html>
