edu-transfer/dist/parent-cabinet.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Əsas səhifə- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black active tick" href="#">Əsas səhifə</a><ul><li><a class="text-black" href="#">Uşaq əlavə et</a></li><li><a class="text-black tick" href="#">Müraciət et</a><ul><li><a class="text-black" href="#">Dövlət məktəbi</a></li><li><a class="text-black" href="#">Özəl məktəb</a></li><li><a class="text-black" href="#">Məcburi köçkün məktəbi</a></li></ul></li><li><a class="text-black" href="#">Növbəyə düş</a></li></ul></li><li><a class="text-black" href="#">Tənzimləmələr</a></li><li><a class="text-black" href="#">İrad və təkliflər</a></li><li><a class="text-black" href="#">Əməliyyatlar tarixçəsi</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="main-wrapper--article"><div class="row justify-content-between align-items-center mx-2"><div class="col-auto"><span class="text-primary">UŞAQLAR</span></div><div class="col-auto"><a class="btn btn-outline-primary" href="#">Əlavə et</a></div></div><table class="table table-hover"><thead><tr><th>ID</th><th>FIN</th><th>SOYADI, ADI</th><th>OXUDUĞU MƏKTƏB</th><th>SİNFİN PİLLƏSİ VƏ İNDEKSİ</th><th>SİNFİN TİPİ VƏ PROFİLİ</th><th>REDAKTƏ</th><th>YENİLƏ</th><th>SİL</th></tr></thead><tbody><tr><td>12345678</td><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td></td><td><a href="#"><img src="images/new-file.svg" alt=""></a></td><td><a href="#"><img src="images/reload.svg" alt=""></a></td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr><tr><td>12345678</td><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td></td><td><a href="#"><img src="images/new-file.svg" alt=""></a></td><td><a href="#"><img src="images/reload.svg" alt=""></a></td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr></tbody></table></div><div class="main-wrapper--article my-5"><div class="row justify-content-between align-items-center mx-2"><div class="col-auto"><span class="text-primary">MÜRACİƏTLƏR</span></div><div class="col-auto"><a class="btn btn-outline-primary" href="#">Müraciət et</a></div></div><table class="table table-hover"><thead><tr><th>ID</th><th>SOYADI, ADI</th><th>OXUDUĞU MƏKTƏB</th><th>MƏKTƏBİN UTİS KODU</th><th>YENİ MƏKTƏB</th><th>YENİ MƏKTƏBİN UTİS KODU</th><th>SORĞUNUN BİTMƏ TARİXİ</th><th>STATUS</th><th>SİL</th></tr></thead><tbody><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-pending"></span>Çıxma əmrinin verilməsi gözlənilir</td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-command"></span>Çıxma əmri verildi</td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-approve"></span>Təstiq et</td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-accepted"></span>Qəbul edilmə əmri verildi</td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr></tbody></table></div><div class="main-wrapper--article"><div class="row justify-content-between align-items-center mx-2"><div class="col-auto"><span class="text-primary">NÖVBƏ</span></div><div class="col-auto"><a class="btn btn-outline-primary" href="#">Növbəyə düş</a></div></div><table class="table table-hover"><thead><tr><th>ID</th><th>SOYADI, ADI</th><th>OXUDUĞU MƏKTƏB</th><th>MƏKTƏBİN UTİS KODU</th><th>YENİ MƏKTƏB</th><th>YENİ MƏKTƏBİN UTİS KODU</th><th>NÖVBƏDƏKİ YERİ</th><th>SİL</th></tr></thead><tbody><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>5</td><td><a href="#"><img src="images/close.svg" alt=""></a></td></tr></tbody></table></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>

edu-transfer/app/parent-cabinet.pug
extends includes/cabinet_base.pug

block title
    | Əsas səhifə

block content
    // UŞAQLAR
    .main-wrapper--article
        .row.justify-content-between.align-items-center.mx-2
            .col-auto
                span.text-primary UŞAQLAR
            .col-auto
                a.btn.btn-outline-primary(href="#") Əlavə et
        table.table.table-hover
            thead
                tr
                    th ID
                    th FIN
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th SİNFİN PİLLƏSİ VƏ İNDEKSİ
                    th SİNFİN TİPİ VƏ PROFİLİ
                    th REDAKTƏ
                    th YENİLƏ
                    th SİL
            tbody
                tr
                    td 12345678
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td
                    td
                        a(href="#")
                            img(src="images/new-file.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td
                    td
                        a(href="#")
                            img(src="images/new-file.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
    // MÜRACİƏTLƏR
    .main-wrapper--article.my-5
        .row.justify-content-between.align-items-center.mx-2
            .col-auto
                span.text-primary MÜRACİƏTLƏR
            .col-auto
                a.btn.btn-outline-primary(href="#") Müraciət et
        table.table.table-hover
            thead
                tr
                    th ID
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th SORĞUNUN BİTMƏ TARİXİ
                    th STATUS
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-command
                        | Çıxma əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-approve
                        | Təstiq et
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
    // NÖVBƏ
    .main-wrapper--article
        .row.justify-content-between.align-items-center.mx-2
            .col-auto
                span.text-primary NÖVBƏ
            .col-auto
                a.btn.btn-outline-primary(href="#") Növbəyə düş
        table.table.table-hover
            thead
                tr
                    th ID
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th NÖVBƏDƏKİ YERİ
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 5
                    td
                        a(href="#")
                            img(src="images/close.svg", alt="")
