edu-transfer/app/password.pug
extends ./includes/register_base.pug

block scripts
    script(src="scripts/password.js")

block vars
    - pageIndex = 6;
    - registerForm = 'password-form';

block title
    | ŞİFRƏ

block content
    section#register-document-page
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label(for="password")
                        | Şifrə təyin et
                        |
                        span.text-danger *
                    input#password.form-control.w-75(type="password" name="password")
                .col-4
                .col-4
                .col-4.mt-5
                    label(for="password-confirm")
                        | Şifrəni təkrarlayın
                        |
                        span.text-danger *
                    input#password-confirm.form-control.w-75(type="password" name="password-confirm")
                    .invalid-feedback
                        | Şifrə yalnışdır

edu-transfer/dist/password.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>ŞİFRƏ- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>SƏNƏDİN NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN SƏNƏD NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYNİN SƏNƏDİ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>ŞİFRƏ</span><div class="back"></div></li></ul></nav><main><div class="main-container"><section id="register-document-page"><form action="#" id="password-form"><div class="form-row align-items-start"><div class="col-4"><label for="password">Şifrə təyin et <span class="text-danger">*</span></label> <input class="form-control w-75" id="password" type="password" name="password"></div><div class="col-4"></div><div class="col-4"></div><div class="col-4 mt-5"><label for="password-confirm">Şifrəni təkrarlayın <span class="text-danger">*</span></label> <input class="form-control w-75" id="password-confirm" type="password" name="password-confirm"><div class="invalid-feedback">Şifrə yalnışdır</div></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#password-form").submit()'>QEYDİYYATI TAMAMLA</button></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>
