edu-transfer/app/register-document.pug
extends ./includes/register_base.pug

block vars
    - registerForm = 'register-form';
    - isBackEnabled = false;

block title
    | SƏNƏDİN NÖVÜ

block content
    section#register-document-page
        // Regsiter document form start
        form(action="#" id=registerForm)
            .row
                .col-4
                    .form-row
                        .col-auto
                            label(for="citizenship") Vətəndaşlıq
                            select#citizenship.form-control(type="text" name="citizenship")
                                option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    .form-row
                        .col-auto
                            label(for="parent") Qohumluq dərəcəsi
                            select#parent.form-control(type="text" name="parent")
                                option(value="0") Valideyn
        // Regsiter document form end

edu-transfer/dist/register-document.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>SƏNƏDİN NÖVÜ- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item active"><div class="front"></div><span>SƏNƏDİN NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN SƏNƏD NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYNİN SƏNƏDİ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ŞİFRƏ</span><div class="back"></div></li></ul></nav><main><div class="main-container"><section id="register-document-page"><form action="#" id="register-form"><div class="row"><div class="col-4"><div class="form-row"><div class="col-auto"><label for="citizenship">Vətəndaşlıq</label> <select class="form-control" id="citizenship" type="text" name="citizenship"><option value="0">Azərbaycan Respublikasının vətəndaşı</option></select></div></div></div><div class="col-4"><div class="form-row"><div class="col-auto"><label for="parent">Qohumluq dərəcəsi</label> <select class="form-control" id="parent" type="text" name="parent"><option value="0">Valideyn</option></select></div></div></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#register-form").submit()'>NÖVBƏTİ</button></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
