edu-transfer/app/schools-education.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Tədris sinifləri';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumatlar': null,
            'Məktəbdən gedənlər': null,
            'Məktəbə gələnlər': null,
            'Növbədə gözləyənlər': null,
            'Tədris sinifləri': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | TƏDRİS SİNİFLƏRİ
                .col-auto.text-center
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
                    a.d-inline-block.text-secondary.mx-3(href="#")
                        img.d-block.mx-auto(src="images/users.svg")
                        | Növbə
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/switch.svg")
                        | Sinfə transfer
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Tabeçilik
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Rayon
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school") Təhsil müəssisəsi
                select.form-control.w-75#school(name="school")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school-type") Məktəbin növü
                select.form-control.w-75#school-type(name="school-type")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="school-spec") Məktəbin tipi
                select.form-control.w-75#school-spec(name="school-spec")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="") - - Seçin - -
            .col-3.mt-4
                label.d-block(for="study-week") Tədris həftəsi
                select.form-control.w-75#study-week(name="study-week")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th UTİS KODU
                    th SIRA NÖM,İNDEKS
                    th TƏDRİS DİLİ
                    th SİNİF RƏHBƏRİ
                    th NÖVBƏ
                    th SİNFİN PROFİLİ
                    th SİNİF / FİLİAL
                    th MÜSTƏQİL XALQIN DİLİ
                    th XARİCİ DİLLƏRİ
                    th MAKSİMAL ŞAGİRD TUTUMU
                    th ŞAGİRD SAYI
                    th YENİLƏ
            tbody
                tr
                    td 12345
                    td 12345
                    td 12345
                    td İngilis
                    td Əliyev Eyvaz İlqar
                    td I növbə
                    td
                    td
                    td
                    td İngilis
                    td 3000
                    td 30
                    td
                        a(href="#")
                            img(src="images/reload.svg", alt="")

edu-transfer/dist/schools-education.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Ümumi məlumatlar</a></li><li><a class="text-black" href="#">Məktəbdən gedənlər</a></li><li><a class="text-black" href="#">Məktəbə gələnlər</a></li><li><a class="text-black" href="#">Növbədə gözləyənlər</a></li><li><a class="text-black active" href="#">Tədris sinifləri</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">TƏDRİS SİNİFLƏRİ</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary" href="#"><img class="d-block mx-auto" src="images/magnifying-glass.svg">Axtar</a><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/reload-big.svg">Yenilə</a><a class="d-inline-block text-secondary mx-3" href="#"><img class="d-block mx-auto" src="images/users.svg">Növbə</a><a class="d-inline-block text-secondary" href="#"><img class="d-block mx-auto" src="images/switch.svg">Sinfə transfer</a></div></div></div></div><form class="student-edit-form" id="apply-gov-school-form"><div class="form-row align-items-start mt-3 px-3 mb-5"><div class="col-3"><label class="d-block" for="subject">Tabeçilik</label> <select class="form-control w-75" id="subject" name="subject"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="region">Rayon</label> <select class="form-control w-75" id="region" name="region"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="school">Təhsil müəssisəsi</label> <select class="form-control w-75" id="school" name="school"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="school-type">Məktəbin növü</label> <select class="form-control w-75" id="school-type" name="school-type"><option value="">- - Seçin - -</option></select></div><div class="col-3 mt-4"><label class="d-block" for="school-spec">Məktəbin tipi</label> <select class="form-control w-75" id="school-spec" name="school-spec"><option value="">- - Seçin - -</option></select></div><div class="col-3 mt-4"><label class="d-block" for="study-week">Tədris həftəsi</label> <select class="form-control w-75" id="study-week" name="study-week"><option value="">- - Seçin - -</option></select></div><div class="col-3 mt-4"><label class="d-block" for="study-week">Tədris həftəsi</label> <select class="form-control w-75" id="study-week" name="study-week"><option value="">- - Seçin - -</option></select></div></div></form><div class="main-wrapper--article"><table class="table table-hover"><thead><tr><th>ID</th><th>UTİS KODU</th><th>SIRA NÖM,İNDEKS</th><th>TƏDRİS DİLİ</th><th>SİNİF RƏHBƏRİ</th><th>NÖVBƏ</th><th>SİNFİN PROFİLİ</th><th>SİNİF / FİLİAL</th><th>MÜSTƏQİL XALQIN DİLİ</th><th>XARİCİ DİLLƏRİ</th><th>MAKSİMAL ŞAGİRD TUTUMU</th><th>ŞAGİRD SAYI</th><th>YENİLƏ</th></tr></thead><tbody><tr><td>12345</td><td>12345</td><td>12345</td><td>İngilis</td><td>Əliyev Eyvaz İlqar</td><td>I növbə</td><td></td><td></td><td></td><td>İngilis</td><td>3000</td><td>30</td><td><a href="#"><img src="images/reload.svg" alt=""></a></td></tr></tbody></table></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
