edu-transfer/app/schools-application.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Müraciətlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | MÜRACİƏTLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Status
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Çıxma səbəbi
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th FİN
                    th ŞAGİRDİN UTİS KODU
                    th ADI, SOYADI
                    th HARDAN
                    th HARA
                    th TARİXDƏN
                    th TARİXƏDƏK
                    th ÇIXMA SƏBƏBİ
                    th STATUS
                    th SİL
            tbody
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-command
                        | Çıxma əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-approve
                        | Təstiq et
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")

edu-transfer/dist/schools-application.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Məktəblər</a></li><li><a class="text-black active" href="#">Müraciətlər</a></li><li><a class="text-black" href="#">Valideynlər</a></li><li><a class="text-black" href="#">Şagirdlər</a></li><li><a class="text-black" href="#">İstifadəçilər</a></li><li><a class="text-black" href="#">Əməliyyat tarixçəsi</a></li><li><a class="text-black" href="#">Error log</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">MÜRACİƏTLƏR</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/reload-big.svg">Yenilə</a></div></div></div></div><form class="student-edit-form" id="apply-gov-school-form"><div class="form-row align-items-start mt-3 px-3 mb-5"><div class="col-3"><label class="d-block" for="subject">Status</label> <select class="form-control w-75" id="subject" name="subject"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="region">Çıxma səbəbi</label> <select class="form-control w-75" id="region" name="region"><option value="">- - Seçin - -</option></select></div></div></form><div class="main-wrapper--article"><table class="table table-hover"><thead><tr><th>ID</th><th>FİN</th><th>ŞAGİRDİN UTİS KODU</th><th>ADI, SOYADI</th><th>HARDAN</th><th>HARA</th><th>TARİXDƏN</th><th>TARİXƏDƏK</th><th>ÇIXMA SƏBƏBİ</th><th>STATUS</th><th>SİL</th></tr></thead><tbody><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td><span class="status-pending"></span>Çıxma əmrinin verilməsi gözlənilir</td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td><span class="status-command"></span>Çıxma əmri verildi</td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td><span class="status-approve"></span>Təstiq et</td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td><span class="status-accepted"></span>Qəbul edilmə əmri verildi</td><td><a href="#"><img src="images/close.svg"></a></td></tr></tbody></table></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
