edu-transfer/app/schools-student.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Şagirdlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ŞAGİRDLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
                    a.d-inline-block.text-secondary.mx-2(href="#")
                        img.d-block.mx-auto(src="images/round-add-button.svg")
                        | Yeni
                    a.d-inline-block.text-secondary(href="#")
                        img.d-block.mx-auto(src="images/edit-round.svg")
                        | Redaktə
    .row
        .col
            form.student-edit-form(id=registerForm)
                .form-row.align-items-start.mt-3.px-3.mb-5
                    .col-3
                        label.d-block(for="subject") Tabeçilik
                        select.form-control.w-75#subject(name="subject")
                            option(value="") - - Seçin - -
                    .col-3
                        label.d-block(for="region") Rayon
                        select.form-control.w-75#region(name="region")
                            option(value="") - - Seçin - -
                    .col-3
                        label.d-block(for="school") Təhsil müəssisəsi
                        select.form-control.w-75#school(name="school")
                            option(value="") - - Seçin - -
                    .col-3
                        label.d-block(for="school-type") Məktəbin növü
                        select.form-control.w-75#school-type(name="school-type")
                            option(value="") - - Seçin - -
                    .col-3.mt-4
                        label.d-block(for="school-spec") Məktəbin tipi
                        select.form-control.w-75#school-spec(name="school-spec")
                            option(value="") - - Seçin - -
                    .col-3.mt-4
                        label.d-block(for="study-week") Tədris həftəsi
                        select.form-control.w-75#study-week(name="study-week")
                            option(value="") - - Seçin - -
            .main-wrapper--article
                table.table.table-hover
                    thead
                        tr
                            th ID
                            th FİN
                            th ADI, SOYADI
                            th CİNSİ
                            th ÜNVAN
                            th MƏKTƏBİN UTİS KODU
                            th SİNFİN UTİS KODU
                            th SİNFİN TİPİ
                            th SİNFİN PROFİLİ
                            th SİNFİN PİLLƏSİ VƏ İNDEKSİ
                            th XARİCİ DİL
                            th TƏDRİS DİLİ
                            th TƏHSİL ALMA FORMASI
                            th TƏHSİL PROQRAMI
                            th SİNİFDƏN SİNFƏ KEÇMƏ MƏLUMATI
                    tbody
                        tr
                            td 12345
                            td 12345
                            td Əliyev Əli Fərhad
                            td Kişi
                            td
                            td 123456
                            td 123456
                            td
                            td
                            td
                            td Azərbaycan
                            td Azərbaycan
                            td
                            td
                            td
                        tr
                            td 12345
                            td 12345
                            td Əliyev Əli Fərhad
                            td Kişi
                            td
                            td 123456
                            td 123456
                            td
                            td
                            td
                            td Azərbaycan
                            td Azərbaycan
                            td
                            td
                            td
                        tr
                            td 12345
                            td 12345
                            td Əliyev Əli Fərhad
                            td Kişi
                            td
                            td 123456
                            td 123456
                            td
                            td
                            td
                            td Azərbaycan
                            td Azərbaycan
                            td
                            td
                            td
        .col-2
            include includes/partials/student-profile.pug

edu-transfer/dist/schools-student.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Məktəblər</a></li><li><a class="text-black" href="#">Müraciətlər</a></li><li><a class="text-black" href="#">Valideynlər</a></li><li><a class="text-black active" href="#">Şagirdlər</a></li><li><a class="text-black" href="#">İstifadəçilər</a></li><li><a class="text-black" href="#">Əməliyyat tarixçəsi</a></li><li><a class="text-black" href="#">Error log</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">ŞAGİRDLƏR</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary" href="#"><img class="d-block mx-auto" src="images/magnifying-glass.svg">Axtar</a><a class="d-inline-block text-secondary mx-2" href="#"><img class="d-block mx-auto" src="images/round-add-button.svg">Yeni</a><a class="d-inline-block text-secondary" href="#"><img class="d-block mx-auto" src="images/edit-round.svg">Redaktə</a></div></div></div></div><div class="row"><div class="col"><form class="student-edit-form" id="apply-gov-school-form"><div class="form-row align-items-start mt-3 px-3 mb-5"><div class="col-3"><label class="d-block" for="subject">Tabeçilik</label> <select class="form-control w-75" id="subject" name="subject"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="region">Rayon</label> <select class="form-control w-75" id="region" name="region"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="school">Təhsil müəssisəsi</label> <select class="form-control w-75" id="school" name="school"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="school-type">Məktəbin növü</label> <select class="form-control w-75" id="school-type" name="school-type"><option value="">- - Seçin - -</option></select></div><div class="col-3 mt-4"><label class="d-block" for="school-spec">Məktəbin tipi</label> <select class="form-control w-75" id="school-spec" name="school-spec"><option value="">- - Seçin - -</option></select></div><div class="col-3 mt-4"><label class="d-block" for="study-week">Tədris həftəsi</label> <select class="form-control w-75" id="study-week" name="study-week"><option value="">- - Seçin - -</option></select></div></div></form><div class="main-wrapper--article"><table class="table table-hover"><thead><tr><th>ID</th><th>FİN</th><th>ADI, SOYADI</th><th>CİNSİ</th><th>ÜNVAN</th><th>MƏKTƏBİN UTİS KODU</th><th>SİNFİN UTİS KODU</th><th>SİNFİN TİPİ</th><th>SİNFİN PROFİLİ</th><th>SİNFİN PİLLƏSİ VƏ İNDEKSİ</th><th>XARİCİ DİL</th><th>TƏDRİS DİLİ</th><th>TƏHSİL ALMA FORMASI</th><th>TƏHSİL PROQRAMI</th><th>SİNİFDƏN SİNFƏ KEÇMƏ MƏLUMATI</th></tr></thead><tbody><tr><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>Kişi</td><td></td><td>123456</td><td>123456</td><td></td><td></td><td></td><td>Azərbaycan</td><td>Azərbaycan</td><td></td><td></td><td></td></tr><tr><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>Kişi</td><td></td><td>123456</td><td>123456</td><td></td><td></td><td></td><td>Azərbaycan</td><td>Azərbaycan</td><td></td><td></td><td></td></tr><tr><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>Kişi</td><td></td><td>123456</td><td>123456</td><td></td><td></td><td></td><td>Azərbaycan</td><td>Azərbaycan</td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="col-2"><div class="custom-profile right"><div class="custom-profile--details text-center"><img src="images/user-picture.png"><span>Ad Soyad Ata adi</span></div><div class="px-3"><ul><li class="mt-4">Sənədin seriyası<p></p></li><li class="mt-4">Sənədin nömrəsi<p></p></li><li class="mt-4">Sənədin növü<p></p></li><li class="mt-4">Sənədi verən orqan<p></p></li><li class="mt-4">Sənədin etibarlılıq tarixi<p></p></li><li class="mt-4">PTPK qərarın nömrəsi<p></p></li><li class="mt-4">PTPK qüvvədən düşmə tarixi<p></p></li><li class="mt-4">Xüsusi təhsil proqramının adı<p></p></li></ul></div></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
