edu-transfer/app/schools-parent-edit.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Valideynlər';
    - registerForm = 'apply-gov-school-form';
    - enableNav = false;
    - isBackEnabled = false;
    - nextLabel = 'Yadda Saxla';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            img.align-middle(src="images/back.svg")
            span.align-middle
                |
                | VALİDEYN MƏLUMATLARI
    form(action="#" id=registerForm).student-edit-form
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ŞƏXSİYYƏT MƏLUMATLARI
        .row.mt-3.px-4
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="fin")
                            | Fin kodu
                            |
                            span.text-danger *
                        input#fin.form-control(type="text" name="fin")
                    .col-auto
                        button.btn.btn-outline-grey(type="button") Yoxla
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="parent-name") Ata adı
                        input#parent-name.form-control(type="text" name="parent-name")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="first-name") Ad
                        input#first-name.form-control(type="text" name="first-name")
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="birth-date") Təvəllüd
                        input#birth-date.form-control(type="text" data-pick-date name="birth-date" autocomplete="off")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="last-name") Soyad
                        input#last-name.form-control(type="text" name="last-name")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ƏLAQƏ
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label.d-block(for="mobile-number")
                        | Mobil nömrə
                        |
                        span.text-danger *
                    input#mobile-number.form-control.w-75.d-inline-block.align-middle(type="text" name="mobile-number" placeholder="+994")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label(for="email")
                        | Email
                        |
                        span.text-danger *
                    input#email.form-control.w-75(type="text" name="email")
                    small.form-text.w-75
                        | Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və
                        | bildirişlərin əldə olunması mümkün olmayacaq
                .col-4
                .col-4.mt-5
                    label(for="submit-code")
                        | Təstiq kodu
                        |
                        span.text-danger *
                    input#submit-code.form-control.w-75(type="text" name="submit-code")
                    small.form-text
                        | Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60
                .col-4.mt-5
                    label(for="email-confirm")
                        | Emaili təkrarla
                        |
                        span.text-danger *
                    input#email-confirm.form-control.w-75(type="text" name="email-confirm" autocomplete="off")
                    .invalid-feedback
                        | Email yanlışdır
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ŞİFRƏ
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label(for="old-password")
                        | Cari şifrə
                        |
                        span.text-danger *
                    input#old-password.form-control.w-75(type="password" name="old-password")
                .col-4
                    label(for="password")
                        | Şifrə təyin et
                        |
                        span.text-danger *
                    input#password.form-control.w-75(type="password" name="password")
                .col-4
                    label(for="password-confirm")
                        | Şifrəni təkrarlayın
                        |
                        span.text-danger *
                    input#password-confirm.form-control.w-75(type="password" name="password-confirm")
                    .invalid-feedback
                        | Şifrə yalnışdır
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | II VALİDEYN ŞƏXSİYYƏT MƏLUMATLARI
        .row.mt-3.px-4
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="fin")
                            | Fin kodu
                            |
                            span.text-danger *
                        input#fin.form-control(type="text" name="fin")
                    .col-auto
                        button.btn.btn-outline-grey(type="button") Yoxla
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="parent-name") Ata adı
                        input#parent-name.form-control(type="text" name="parent-name")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="first-name") Ad
                        input#first-name.form-control(type="text" name="first-name")
                .form-row.align-items-end.mt-2
                    .col-auto
                        label(for="birth-date") Təvəllüd
                        input#birth-date.form-control(type="text" data-pick-date name="birth-date" autocomplete="off")
            .col-4
                .form-row.align-items-end
                    .col-auto
                        label(for="last-name") Soyad
                        input#last-name.form-control(type="text" name="last-name")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | II VALİDEYN ƏLAQƏ
        .form-row.align-items-start.mt-3.px-4.mb-5
                .col-4
                    label.d-block(for="mobile-number")
                        | Mobil nömrə
                        |
                        span.text-danger *
                    input#mobile-number.form-control.w-75.d-inline-block.align-middle(type="text" name="mobile-number" placeholder="+994")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label(for="email")
                        | Email
                        |
                        span.text-danger *
                    input#email.form-control.w-75(type="text" name="email")
                    small.form-text.w-75
                        | Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və
                        | bildirişlərin əldə olunması mümkün olmayacaq
                .col-4
                .col-4.mt-5
                    label(for="submit-code")
                        | Təstiq kodu
                        |
                        span.text-danger *
                    input#submit-code.form-control.w-75(type="text" name="submit-code")
                    small.form-text
                        | Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60
                .col-4.mt-5
                    label(for="email-confirm")
                        | Emaili təkrarla
                        |
                        span.text-danger *
                    input#email-confirm.form-control.w-75(type="text" name="email-confirm" autocomplete="off")
                    .invalid-feedback
                        | Email yanlışdır

block scripts
    script(src="scripts/main.js")
    script(src="scripts/add-student-complete.js")
    script(src="scripts/contact.js")

edu-transfer/dist/schools-parent-edit.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Məktəblər</a></li><li><a class="text-black" href="#">Müraciətlər</a></li><li><a class="text-black active" href="#">Valideynlər</a></li><li><a class="text-black" href="#">Şagirdlər</a></li><li><a class="text-black" href="#">İstifadəçilər</a></li><li><a class="text-black" href="#">Əməliyyat tarixçəsi</a></li><li><a class="text-black" href="#">Error log</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><img class="align-middle" src="images/back.svg"><span class="align-middle">VALİDEYN MƏLUMATLARI</span></div></div><form class="student-edit-form" action="#" id="apply-gov-school-form"><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">ŞƏXSİYYƏT MƏLUMATLARI</span></div></div><div class="row mt-3 px-4"><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="fin">Fin kodu <span class="text-danger">*</span></label> <input class="form-control" id="fin" type="text" name="fin"></div><div class="col-auto"><button class="btn btn-outline-grey" type="button">Yoxla</button></div></div><div class="form-row align-items-end mt-2"><div class="col-auto"><label for="parent-name">Ata adı</label> <input class="form-control" id="parent-name" type="text" name="parent-name"></div></div></div><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="first-name">Ad</label> <input class="form-control" id="first-name" type="text" name="first-name"></div></div><div class="form-row align-items-end mt-2"><div class="col-auto"><label for="birth-date">Təvəllüd</label> <input class="form-control" id="birth-date" type="text" data-pick-date name="birth-date" autocomplete="off"></div></div></div><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="last-name">Soyad</label> <input class="form-control" id="last-name" type="text" name="last-name"></div></div></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">ƏLAQƏ</span></div></div><div class="form-row align-items-start mt-3 px-4"><div class="col-4"><label class="d-block" for="mobile-number">Mobil nömrə <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="mobile-number" type="text" name="mobile-number" placeholder="+994"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label for="email">Email <span class="text-danger">*</span></label> <input class="form-control w-75" id="email" type="text" name="email"><small class="form-text w-75">Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və bildirişlərin əldə olunması mümkün olmayacaq</small></div><div class="col-4"></div><div class="col-4 mt-5"><label for="submit-code">Təstiq kodu <span class="text-danger">*</span></label> <input class="form-control w-75" id="submit-code" type="text" name="submit-code"><small class="form-text">Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60</small></div><div class="col-4 mt-5"><label for="email-confirm">Emaili təkrarla <span class="text-danger">*</span></label> <input class="form-control w-75" id="email-confirm" type="text" name="email-confirm" autocomplete="off"><div class="invalid-feedback">Email yanlışdır</div></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">ŞİFRƏ</span></div></div><div class="form-row align-items-start mt-3 px-4"><div class="col-4"><label for="old-password">Cari şifrə <span class="text-danger">*</span></label> <input class="form-control w-75" id="old-password" type="password" name="old-password"></div><div class="col-4"><label for="password">Şifrə təyin et <span class="text-danger">*</span></label> <input class="form-control w-75" id="password" type="password" name="password"></div><div class="col-4"><label for="password-confirm">Şifrəni təkrarlayın <span class="text-danger">*</span></label> <input class="form-control w-75" id="password-confirm" type="password" name="password-confirm"><div class="invalid-feedback">Şifrə yalnışdır</div></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">II VALİDEYN ŞƏXSİYYƏT MƏLUMATLARI</span></div></div><div class="row mt-3 px-4"><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="fin">Fin kodu <span class="text-danger">*</span></label> <input class="form-control" id="fin" type="text" name="fin"></div><div class="col-auto"><button class="btn btn-outline-grey" type="button">Yoxla</button></div></div><div class="form-row align-items-end mt-2"><div class="col-auto"><label for="parent-name">Ata adı</label> <input class="form-control" id="parent-name" type="text" name="parent-name"></div></div></div><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="first-name">Ad</label> <input class="form-control" id="first-name" type="text" name="first-name"></div></div><div class="form-row align-items-end mt-2"><div class="col-auto"><label for="birth-date">Təvəllüd</label> <input class="form-control" id="birth-date" type="text" data-pick-date name="birth-date" autocomplete="off"></div></div></div><div class="col-4"><div class="form-row align-items-end"><div class="col-auto"><label for="last-name">Soyad</label> <input class="form-control" id="last-name" type="text" name="last-name"></div></div></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">II VALİDEYN ƏLAQƏ</span></div></div><div class="form-row align-items-start mt-3 px-4 mb-5"><div class="col-4"><label class="d-block" for="mobile-number">Mobil nömrə <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="mobile-number" type="text" name="mobile-number" placeholder="+994"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label for="email">Email <span class="text-danger">*</span></label> <input class="form-control w-75" id="email" type="text" name="email"><small class="form-text w-75">Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və bildirişlərin əldə olunması mümkün olmayacaq</small></div><div class="col-4"></div><div class="col-4 mt-5"><label for="submit-code">Təstiq kodu <span class="text-danger">*</span></label> <input class="form-control w-75" id="submit-code" type="text" name="submit-code"><small class="form-text">Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60</small></div><div class="col-4 mt-5"><label for="email-confirm">Emaili təkrarla <span class="text-danger">*</span></label> <input class="form-control w-75" id="email-confirm" type="text" name="email-confirm" autocomplete="off"><div class="invalid-feedback">Email yanlışdır</div></div></div></form><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#apply-gov-school-form").submit()'>Yadda Saxla</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>
