edu-transfer/app/schools-student-edit.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Şagirdlər';
    - registerForm = 'apply-gov-school-form';
    - enableNav = false;
    - isBackEnabled = false;
    - nextLabel = 'Yadda Saxla';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            img.align-middle(src="images/back.svg")
            span.align-middle
                |
                | ƏLİYEV ƏLİ FƏRHAD OĞLU
    form(action="#" id=registerForm).student-edit-form
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | ÜMUMİ MƏLUMATLAR
        .form-row.align-items-start.mt-3.px-4
            .col-4
                label.d-block(for="fin")
                    | Fin kodu
                    |
                    span.text-danger *
                input#fin.form-control.w-75.d-inline-block.align-middle(type="text" name="fin")
                button.btn.btn-outline-grey(type="button") Yoxla
            .col-4
                label.d-block(for="series")
                    | Seriya
                    |
                    span.text-danger *
                input#series.form-control.w-75(type="text" name="series")
            .col-4
                label.d-block(for="phone-number")
                    | Nömrə
                    |
                    span.text-danger *
                input#phone-number.form-control.w-75(type="text" name="phone-number")
            .col-4.mt-5
                label.d-block(for="type")
                    | Növ
                    |
                    span.text-danger *
                input#type.form-control.w-75(type="text" name="type" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="first-name")
                    | Ad
                    |
                    span.text-danger *
                input#first-name.form-control.w-75(type="text" name="first-name" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="last-name")
                    | Soyad
                    |
                    span.text-danger *
                input#last-name.form-control.w-75(type="text" name="last-name" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="middle-name")
                    | Ata adı
                    |
                    span.text-danger *
                input#middle-name.form-control.w-75(type="text" name="middle-name" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="birth-date")
                    | Təvəllüd
                    |
                    span.text-danger *
                input#birth-date.form-control.w-75(type="text" name="birth-date" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="sex")
                    | Cinsi
                    |
                    span.text-danger *
                input#sex.form-control.w-75(type="text" name="sex" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="country")
                    | Ölkə
                    |
                    span.text-danger *
                input#country.form-control.w-75(type="text" name="country" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="address")
                    | Ünvan
                    |
                    span.text-danger *
                input#address.form-control.w-75(type="text" name="address" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="apartment")
                    | Ev
                    |
                    span.text-danger *
                input#apartment.form-control.w-75(type="text" name="apartment" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="passport-department")
                    | Verən orqan
                    |
                    span.text-danger *
                input#passport-department.form-control.w-75(type="text" name="passport-department" autocomplete="off")
            .col-4.mt-5
                label.d-block(for="passport-expire-date")
                    | Etibarlılıq tarixi
                    |
                    span.text-danger *
                input#passport-expire-date.form-control.w-75(type="text" name="passport-expire-date" autocomplete="off")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | UTİS MƏLUMATLARI
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label.d-block(for="school-utis-number")
                        |  Məktəbin UTİS kodu
                        |
                        span.text-danger *
                    input#school-utis-number.form-control.w-75.d-inline-block.align-middle(type="text" name="school-utis-number")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="class-utis-number")
                        | Sinfin UTİS kodu
                        |
                        span.text-danger *
                    input#class-utis-number.form-control.w-75.d-inline-block.align-middle(type="text" name="class-utis-number")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label.d-block(for="class-type")
                        | Sinfin tipi və profili
                        |
                        span.text-danger *
                    input#class-type.form-control.w-75(type="text" name="class-type")
                .col-4.mt-5
                    label.d-block(for="class-index")
                        | Sinfin pilləsi və indeksi
                        |
                        span.text-danger *
                    input#class-index.form-control.w-75(type="text" name="class-index")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | PTPK MƏLUMATLARI
        .form-row.align-items-start.mt-3.px-4
                .col-4
                    label.d-block(for="verdict-number")
                        |  Qərarın nömrəsi
                    input#verdict-number.form-control.w-75(type="text" name="verdict-number")
                .col-4
                    label.d-block(for="verdict-expire-date")
                        | Qüvvədən düşmə tarixi
                    input#verdict-expire-date.form-control.w-75(type="text" data-pick-date name="verdict-expire-date")
        .card.main-header-breadcrumb.mt-3.mx-3
            .card-body
                span.align-middle
                    |
                    | TƏHSİL MƏLUMATLARI
        .form-row.align-items-start.mt-3.px-4.mb-5
                .col-4
                    label.d-block(for="study-program")
                        | Təhsil proqramı
                        |
                        span.text-danger *
                    select#study-program.form-control.w-75(type="text" name="study-program")
                        option(value="")
                .col-4
                    label.d-block(for="study-language")
                        | Tədris dili
                        |
                        span.text-danger *
                    select#study-language.form-control.w-75(type="text" name="study-language")
                        option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    label.d-block(for="study-form")
                        | Təhsil alma forması
                        |
                        span.text-danger *
                    select#study-form.form-control.w-75(type="text" name="study-form")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="present-school")
                        | Oxuduğu məktəb
                        |
                        span.text-danger *
                    select#present-school.form-control.w-75(type="text" name="present-school")
                        option(value="0")
                .col-4.mt-5
                    label.d-block(for="special-program-name")
                        | Xüsusi təhsil proqramının adı
                        |
                        span.text-danger *
                    input#special-program-name.form-control.w-75(type="text" name="special-program-name")
                .col-4.mt-5
                    label.d-block(for="classification-info")
                        | Sinifdən sinfə keçmə məlumatları
                        |
                        span.text-danger *
                    input#classification-info.form-control.w-75(type="text" name="classification-info")
                .col-4.mt-5
                    label.d-block(for="foreign-langs")
                        |  Xarici dillər
                        |
                        span.text-danger *
                    input#foreign-langs.form-control.w-75.d-inline-block.align-middle(type="text")
                    button.btn.btn-outline-grey.js-add-lang(type="button") +

block scripts
    script(src="scripts/main.js")
    script(src="scripts/add-student-complete.js")
    script(src="scripts/contact.js")

edu-transfer/dist/schools-student-edit.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Məktəblər</a></li><li><a class="text-black" href="#">Müraciətlər</a></li><li><a class="text-black" href="#">Valideynlər</a></li><li><a class="text-black active" href="#">Şagirdlər</a></li><li><a class="text-black" href="#">İstifadəçilər</a></li><li><a class="text-black" href="#">Əməliyyat tarixçəsi</a></li><li><a class="text-black" href="#">Error log</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><img class="align-middle" src="images/back.svg"><span class="align-middle">ƏLİYEV ƏLİ FƏRHAD OĞLU</span></div></div><form class="student-edit-form" action="#" id="apply-gov-school-form"><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">ÜMUMİ MƏLUMATLAR</span></div></div><div class="form-row align-items-start mt-3 px-4"><div class="col-4"><label class="d-block" for="fin">Fin kodu <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="fin" type="text" name="fin"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label class="d-block" for="series">Seriya <span class="text-danger">*</span></label> <input class="form-control w-75" id="series" type="text" name="series"></div><div class="col-4"><label class="d-block" for="phone-number">Nömrə <span class="text-danger">*</span></label> <input class="form-control w-75" id="phone-number" type="text" name="phone-number"></div><div class="col-4 mt-5"><label class="d-block" for="type">Növ <span class="text-danger">*</span></label> <input class="form-control w-75" id="type" type="text" name="type" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="first-name">Ad <span class="text-danger">*</span></label> <input class="form-control w-75" id="first-name" type="text" name="first-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="last-name">Soyad <span class="text-danger">*</span></label> <input class="form-control w-75" id="last-name" type="text" name="last-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="middle-name">Ata adı <span class="text-danger">*</span></label> <input class="form-control w-75" id="middle-name" type="text" name="middle-name" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="birth-date">Təvəllüd <span class="text-danger">*</span></label> <input class="form-control w-75" id="birth-date" type="text" name="birth-date" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="sex">Cinsi <span class="text-danger">*</span></label> <input class="form-control w-75" id="sex" type="text" name="sex" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="country">Ölkə <span class="text-danger">*</span></label> <input class="form-control w-75" id="country" type="text" name="country" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="address">Ünvan <span class="text-danger">*</span></label> <input class="form-control w-75" id="address" type="text" name="address" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="apartment">Ev <span class="text-danger">*</span></label> <input class="form-control w-75" id="apartment" type="text" name="apartment" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="passport-department">Verən orqan <span class="text-danger">*</span></label> <input class="form-control w-75" id="passport-department" type="text" name="passport-department" autocomplete="off"></div><div class="col-4 mt-5"><label class="d-block" for="passport-expire-date">Etibarlılıq tarixi <span class="text-danger">*</span></label> <input class="form-control w-75" id="passport-expire-date" type="text" name="passport-expire-date" autocomplete="off"></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">UTİS MƏLUMATLARI</span></div></div><div class="form-row align-items-start mt-3 px-4"><div class="col-4"><label class="d-block" for="school-utis-number">Məktəbin UTİS kodu <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="school-utis-number" type="text" name="school-utis-number"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label class="d-block" for="class-utis-number">Sinfin UTİS kodu <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="class-utis-number" type="text" name="class-utis-number"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label class="d-block" for="class-type">Sinfin tipi və profili <span class="text-danger">*</span></label> <input class="form-control w-75" id="class-type" type="text" name="class-type"></div><div class="col-4 mt-5"><label class="d-block" for="class-index">Sinfin pilləsi və indeksi <span class="text-danger">*</span></label> <input class="form-control w-75" id="class-index" type="text" name="class-index"></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">PTPK MƏLUMATLARI</span></div></div><div class="form-row align-items-start mt-3 px-4"><div class="col-4"><label class="d-block" for="verdict-number">Qərarın nömrəsi</label> <input class="form-control w-75" id="verdict-number" type="text" name="verdict-number"></div><div class="col-4"><label class="d-block" for="verdict-expire-date">Qüvvədən düşmə tarixi</label> <input class="form-control w-75" id="verdict-expire-date" type="text" data-pick-date name="verdict-expire-date"></div></div><div class="card main-header-breadcrumb mt-3 mx-3"><div class="card-body"><span class="align-middle">TƏHSİL MƏLUMATLARI</span></div></div><div class="form-row align-items-start mt-3 px-4 mb-5"><div class="col-4"><label class="d-block" for="study-program">Təhsil proqramı <span class="text-danger">*</span></label> <select class="form-control w-75" id="study-program" type="text" name="study-program"><option value=""></option></select></div><div class="col-4"><label class="d-block" for="study-language">Tədris dili <span class="text-danger">*</span></label> <select class="form-control w-75" id="study-language" type="text" name="study-language"><option value="0">Azərbaycan Respublikasının vətəndaşı</option></select></div><div class="col-4"><label class="d-block" for="study-form">Təhsil alma forması <span class="text-danger">*</span></label> <select class="form-control w-75" id="study-form" type="text" name="study-form"><option value="0"></option></select></div><div class="col-4 mt-5"><label class="d-block" for="present-school">Oxuduğu məktəb <span class="text-danger">*</span></label> <select class="form-control w-75" id="present-school" type="text" name="present-school"><option value="0"></option></select></div><div class="col-4 mt-5"><label class="d-block" for="special-program-name">Xüsusi təhsil proqramının adı <span class="text-danger">*</span></label> <input class="form-control w-75" id="special-program-name" type="text" name="special-program-name"></div><div class="col-4 mt-5"><label class="d-block" for="classification-info">Sinifdən sinfə keçmə məlumatları <span class="text-danger">*</span></label> <input class="form-control w-75" id="classification-info" type="text" name="classification-info"></div><div class="col-4 mt-5"><label class="d-block" for="foreign-langs">Xarici dillər <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="foreign-langs" type="text"> <button class="btn btn-outline-grey js-add-lang" type="button">+</button></div></div></form><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#apply-gov-school-form").submit()'>Yadda Saxla</button></div></div></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>
