edu-transfer/dist/schools-outgoings.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Ümumi məlumatlar</a></li><li><a class="text-black active" href="#">Məktəbdən gedənlər</a></li><li><a class="text-black" href="#">Məktəbə gələnlər</a></li><li><a class="text-black" href="#">Növbədə gözləyənlər</a></li><li><a class="text-black" href="#">Tədris sinifləri</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><img class="align-middle" src="images/back.svg"><span class="align-middle">MƏKTƏBDƏN GEDƏNLƏR</span></div></div><form class="student-edit-form" id="apply-gov-school-form"><div class="form-row align-items-start mt-3 px-3 mb-5"><div class="col-3"><label class="d-block" for="subject">Hardan</label> <select class="form-control w-75" id="subject" name="subject"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="region">Hara</label> <select class="form-control w-75" id="region" name="region"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="school">Çıxma səbəbi</label> <select class="form-control w-75" id="school" name="school"><option value="">- - Seçin - -</option></select></div><div class="col-3"><label class="d-block" for="school-type">Sinif / filial</label> <select class="form-control w-75" id="school-type" name="school-type"><option value="">- - Seçin - -</option></select></div></div></form><div class="main-wrapper--article"><table class="table table-hover"><thead><tr><th>ID</th><th>FİN</th><th>ŞAGİRDİN UTİS KODU</th><th>ADI, SOYADI</th><th>HARDAN</th><th>HARA</th><th>TARİXDƏN</th><th>TARİXƏDƏK</th><th>ÇIXMA SƏBƏBİ</th><th>SİNİF/ FİLİAL</th><th>STATUS</th></tr></thead><tbody><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td></td><td><span class="status-pending"></span>Çıxma əmrinin verilməsi gözlənilir</td></tr><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td></td><td><span class="status-command"></span>Çıxma əmri verildi</td></tr><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td></td><td><span class="status-approve"></span>Təstiq et</td></tr><tr><td>12345</td><td>12345</td><td>12345</td><td>Əliyev Əli Fərhad</td><td>27 saylı tam orta məktəb</td><td>27 saylı tam orta məktəb</td><td>15/03/2017</td><td>15/03/2017</td><td>27 saylı tam məktəb</td><td></td><td><span class="status-accepted"></span>Qəbul edilmə əmri verildi</td></tr></tbody></table></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>

edu-transfer/app/schools-outgoings.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Məktəbdən gedənlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumatlar': null,
            'Məktəbdən gedənlər': null,
            'Məktəbə gələnlər': null,
            'Növbədə gözləyənlər': null,
            'Tədris sinifləri ': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            img.align-middle(src="images/back.svg")
            span.align-middle
                |
                | MƏKTƏBDƏN GEDƏNLƏR
    form.student-edit-form(id=registerForm)
        .form-row.align-items-start.mt-3.px-3.mb-5
            .col-3
                label.d-block(for="subject") Hardan
                select.form-control.w-75#subject(name="subject")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="region") Hara
                select.form-control.w-75#region(name="region")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school") Çıxma səbəbi
                select.form-control.w-75#school(name="school")
                    option(value="") - - Seçin - -
            .col-3
                label.d-block(for="school-type") Sinif / filial
                select.form-control.w-75#school-type(name="school-type")
                    option(value="") - - Seçin - -
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th FİN
                    th ŞAGİRDİN UTİS KODU
                    th ADI, SOYADI
                    th HARDAN
                    th HARA
                    th TARİXDƏN
                    th TARİXƏDƏK
                    th ÇIXMA SƏBƏBİ
                    th SİNİF/ FİLİAL
                    th STATUS
            tbody
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-command
                        | Çıxma əmri verildi
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-approve
                        | Təstiq et
                tr
                    td 12345
                    td 12345
                    td 12345
                    td Əliyev Əli Fərhad
                    td 27 saylı tam orta məktəb
                    td 27 saylı tam orta məktəb
                    td 15/03/2017
                    td 15/03/2017
                    td 27 saylı tam  məktəb
                    td
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
