edu-transfer/app/schools-error-log-more.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Error log';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ERROR LOG
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/magnifying-glass.svg")
                        | Axtar
    div.px-3.mt-3
        textarea(style="height: 231px").d-block.w-100
        textarea(style="height: 231px").d-block.mt-2.w-100

edu-transfer/dist/schools-error-log-more.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Məktəblər</a></li><li><a class="text-black" href="#">Müraciətlər</a></li><li><a class="text-black" href="#">Valideynlər</a></li><li><a class="text-black" href="#">Şagirdlər</a></li><li><a class="text-black" href="#">İstifadəçilər</a></li><li><a class="text-black" href="#">Əməliyyat tarixçəsi</a></li><li><a class="text-black active" href="#">Error log</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">ERROR LOG</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/magnifying-glass.svg">Axtar</a></div></div></div></div><div class="px-3 mt-3"><textarea class="d-block w-100" style="height:231px"></textarea> <textarea class="d-block mt-2 w-100" style="height:231px"></textarea></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>
