edu-transfer/dist/schools-parent.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Məktəblər</a></li><li><a class="text-black" href="#">Müraciətlər</a></li><li><a class="text-black active" href="#">Valideynlər</a></li><li><a class="text-black" href="#">Şagirdlər</a></li><li><a class="text-black" href="#">İstifadəçilər</a></li><li><a class="text-black" href="#">Əməliyyat tarixçəsi</a></li><li><a class="text-black" href="#">Error log</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">VALİDEYNLƏR</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/reload-big.svg">Yenilə</a><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/round-add-button.svg">Yeni</a></div></div></div></div><table class="table table-hover table-small"><thead><tr><th>ID</th><th>FİN</th><th>ADI, SOYADI</th><th>SƏNƏDİN SERİYASI</th><th>SƏNƏDİN NÖVÜ</th><th>ÜNVAN</th><th>TELEFON NÖMRƏSİ</th><th>EMAİL</th><th>ŞİFRƏ</th><th>REDAKTƏ</th><th>SİL</th></tr></thead><tbody><tr><td>12345</td><td>12345</td><td>Əliyev Əli Əhməd</td><td></td><td></td><td></td><td>+994 50 111 11 11</td><td>Example @ gmail.com</td><td></td><td><a href="#"><img src="images/new-file.svg"></a></td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345</td><td>12345</td><td>Əliyev Əli Əhməd</td><td></td><td></td><td></td><td>+994 50 111 11 11</td><td>Example @ gmail.com</td><td></td><td><a href="#"><img src="images/new-file.svg"></a></td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345</td><td>12345</td><td>Əliyev Əli Əhməd</td><td></td><td></td><td></td><td>+994 50 111 11 11</td><td>Example @ gmail.com</td><td></td><td><a href="#"><img src="images/new-file.svg"></a></td><td><a href="#"><img src="images/close.svg"></a></td></tr></tbody></table></div></div></div></main><script src="scripts/vendor.js"></script></body></html>

edu-transfer/app/schools-parent.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Valideynlər';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Məktəblər': null,
            'Müraciətlər': null,
            'Valideynlər': null,
            'Şagirdlər': null,
            'İstifadəçilər': null,
            'Əməliyyat tarixçəsi': null,
            'Error log': null,
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | VALİDEYNLƏR
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/round-add-button.svg")
                        | Yeni
    table.table.table-hover.table-small
        thead
            tr
                th ID
                th FİN
                th ADI, SOYADI
                th SƏNƏDİN SERİYASI
                th SƏNƏDİN NÖVÜ
                th ÜNVAN
                th TELEFON NÖMRƏSİ
                th EMAİL
                th ŞİFRƏ
                th REDAKTƏ
                th SİL
        tbody
            tr
                td 12345
                td 12345
                td Əliyev Əli Əhməd
                td
                td
                td
                td +994 50 111 11 11
                td Example @ gmail.com
                td
                td
                    a(href="#")
                        img(src="images/new-file.svg")
                td
                    a(href="#")
                        img(src="images/close.svg")
            tr
                td 12345
                td 12345
                td Əliyev Əli Əhməd
                td
                td
                td
                td +994 50 111 11 11
                td Example @ gmail.com
                td
                td
                    a(href="#")
                        img(src="images/new-file.svg")
                td
                    a(href="#")
                        img(src="images/close.svg")
            tr
                td 12345
                td 12345
                td Əliyev Əli Əhməd
                td
                td
                td
                td +994 50 111 11 11
                td Example @ gmail.com
                td
                td
                    a(href="#")
                        img(src="images/new-file.svg")
                td
                    a(href="#")
                        img(src="images/close.svg")
