edu-transfer/app/second-parent-contact.pug
extends ./includes/register_base.pug


block scripts
    script(src="scripts/contact.js")

block vars
    - pageIndex = 5;
    - registerForm = 'second-contact-form';

block title
    | II VALİDEYN ƏLAQƏ

block content
    section#register-document-page
        form(action="#" id=registerForm)
            .form-row.align-items-start
                .col-4
                    label(for="mobile-number")
                        | II Valideynin mobil nömrəsi
                        |
                        span.text-danger *
                    input#mobile-number.form-control.w-75.d-inline-block.align-middle(type="text" name="mobile-number" placeholder="+994")
                    button.btn.btn-outline-grey(type="button") Yoxla
                .col-4
                    label(for="email")
                        | Email
                        |
                        span.text-danger *
                    input#email.form-control.w-75(type="text" name="email")
                    small.form-text.w-75
                        | Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və
                        | bildirişlərin əldə olunması mümkün olmayacaq
                .col-4
                .col-4.mt-5
                    label(for="submit-code")
                        | Təstiq kodu
                        |
                        span.text-danger *
                    input#submit-code.form-control.w-75(type="text" name="submit-code")
                    small.form-text
                        | Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60
                .col-4.mt-5
                    label(for="email-confirm")
                        | Emaili təkrarla
                        |
                        span.text-danger *
                    input#email-confirm.form-control.w-75(type="text" name="email-confirm" autocomplete="off")
                    .invalid-feedback
                        | Email yanlışdır

edu-transfer/dist/second-parent-contact.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>II VALİDEYN ƏLAQƏ- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>SƏNƏDİN NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN SƏNƏD NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYNİN SƏNƏDİ</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>II VALİDEYN ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ŞİFRƏ</span><div class="back"></div></li></ul></nav><main><div class="main-container"><section id="register-document-page"><form action="#" id="second-contact-form"><div class="form-row align-items-start"><div class="col-4"><label for="mobile-number">II Valideynin mobil nömrəsi <span class="text-danger">*</span></label> <input class="form-control w-75 d-inline-block align-middle" id="mobile-number" type="text" name="mobile-number" placeholder="+994"> <button class="btn btn-outline-grey" type="button">Yoxla</button></div><div class="col-4"><label for="email">Email <span class="text-danger">*</span></label> <input class="form-control w-75" id="email" type="text" name="email"><small class="form-text w-75">Xahiş olunur işlək emailinizi daxil edin.Email link vasitəsilə təstiq edilməlidir əks halda şifrənin bərpası və bildirişlərin əldə olunması mümkün olmayacaq</small></div><div class="col-4"></div><div class="col-4 mt-5"><label for="submit-code">Təstiq kodu <span class="text-danger">*</span></label> <input class="form-control w-75" id="submit-code" type="text" name="submit-code"><small class="form-text">Təstiq kodunu SMS vasitəsilə yenidən göndər 0:60</small></div><div class="col-4 mt-5"><label for="email-confirm">Emaili təkrarla <span class="text-danger">*</span></label> <input class="form-control w-75" id="email-confirm" type="text" name="email-confirm" autocomplete="off"><div class="invalid-feedback">Email yanlışdır</div></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#second-contact-form").submit()'>NÖVBƏTİ</button></div></div></div></div></main><script src="scripts/vendor.js"></script><script src="scripts/main.js"></script></body></html>
