edu-transfer/dist/second-parent-doctype.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>II VALİDEYN SƏNƏD NÖVÜ- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><nav class="main-nav"><ul class="row justify-content-between"><li class="main-nav--item"><div class="front"></div><span>SƏNƏDİN NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>SƏNƏD</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item active"><div class="front"></div><span>II VALİDEYN SƏNƏD NÖVÜ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYNİN SƏNƏDİ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>II VALİDEYN ƏLAQƏ</span><div class="back"></div></li><li class="main-nav--item"><div class="front"></div><span>ŞİFRƏ</span><div class="back"></div></li></ul></nav><main><div class="main-container"><section class="h-370" id="register-document-page"><form class="h-100" action="#" id="document-type-form"><div class="form-row align-items-start h-100"><div class="col-4"><label for="citizenship">Vətəndaşlıq</label> <select class="form-control w-75" id="citizenship" type="text" name="citizenship"><option value="0">Azərbaycan Respublikasının vətəndaşı</option></select></div><div class="col-4"><label for="parent">Qohumluq dərəcəsi</label> <select class="form-control w-75" id="parent" type="text" name="parent"><option value="0">Valideyn</option></select></div><div class="col-4"></div><div class="col-4 mt-5 align-self-end"><div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="confirmation" name="confirmation"> <label class="custom-control-label" for="confirmation">Məlumatları doldurmaq istəmirəm<span class="text-danger">*</span></label></div><small class="form-text">Lorem İpsum – dizayn nəşrlərində istifadə olunan düzgün olmayan mətndir. Dəqiq quruluşa malik olmayan bu mətn latincada hələ XVI əsrdə öz qəlib formasınıalmışdır. Həmin zamanlarda naməlum bir çapçı Lorem Ipsum`dan istifadə edərəkmüxtəlif ölçü və formalarda şriftlər kolleksiyası yaratdı və öz nümunələrini çap elədi.</small></div></div></form></section><div class="navigation"><div class="row justify-content-between"><div class="col-auto"><a class="btn btn-outline-secondary btn-block" href="#">İMTİNA</a></div><div class="col-auto ml-auto"><a class="btn btn-outline-primary btn-block" href="#">GERİYƏ</a></div><div class="col-auto ml-3"><button class="btn btn-outline-primary btn-block" href="#" onclick='$("#document-type-form").submit()'>NÖVBƏTİ</button></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>

edu-transfer/app/second-parent-doctype.pug
extends ./includes/register_base.pug

block vars
    - pageIndex = 3;
    - registerForm = 'document-type-form';

block title
    | II VALİDEYN SƏNƏD NÖVÜ

block content
    section#register-document-page.h-370
        form.h-100(action="#" id=registerForm)
            .form-row.align-items-start.h-100
                .col-4
                    label(for="citizenship") Vətəndaşlıq
                    select#citizenship.form-control.w-75(type="text" name="citizenship")
                        option(value="0") Azərbaycan Respublikasının vətəndaşı
                .col-4
                    label(for="parent") Qohumluq dərəcəsi
                    select#parent.form-control.w-75(type="text" name="parent")
                        option(value="0") Valideyn
                .col-4
                .col-4.mt-5.align-self-end
                    .custom-control.custom-checkbox
                        input.custom-control-input(type="checkbox" id="confirmation" name="confirmation")
                        label.custom-control-label(for="confirmation")
                            | Məlumatları doldurmaq istəmirəm
                            span.text-danger *
                    small.form-text
                        | Lorem İpsum – dizayn nəşrlərində istifadə olunan düzgün olmayan mətndir. Dəqiq quruluşa malik olmayan bu mətn latincada hələ XVI əsrdə öz qəlib formasınıalmışdır. Həmin zamanlarda naməlum bir çapçı Lorem Ipsum`dan istifadə edərəkmüxtəlif ölçü və formalarda şriftlər kolleksiyası yaratdı və öz nümunələrini çap elədi.
