edu-transfer/dist/students-profile-appeal.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Ümumi məlumat</a></li><li><a class="text-black active" href="#">Müraciət</a></li><li><a class="text-black" href="#">Növbə</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">ƏLİYEV ƏLİNİN MÜRACİƏTİ</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/reload-big.svg">Yenilə</a></div></div></div></div><div class="main-wrapper--article"><table class="table table-hover"><thead><tr><th>ID</th><th>ADI, SOYADI</th><th>OXUDUĞU MƏKTƏB</th><th>MƏKTƏBİN UTİS KODU</th><th>YENİ MƏKTƏB</th><th>YENİ MƏKTƏBİN UTİS KODU</th><th>SORĞUNUN BİTMƏ TARİXİ</th><th>STATUS</th><th>SİL</th></tr></thead><tbody><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-pending"></span>Çıxma əmrinin verilməsi gözlənilir</td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-command"></span>Çıxma əmri verildi</td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-approve"></span>Təstiq et</td><td><a href="#"><img src="images/close.svg"></a></td></tr><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>12/05/2019</td><td><span class="status-accepted"></span>Qəbul edilmə əmri verildi</td><td><a href="#"><img src="images/close.svg"></a></td></tr></tbody></table></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>

edu-transfer/app/students-profile-appeal.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Müraciət';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumat': null,
            'Müraciət': null,
            'Növbə': null
        };
block title
    | Məktəblər

block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | ƏLİYEV ƏLİNİN MÜRACİƏTİ
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th ADI, SOYADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th SORĞUNUN BİTMƏ TARİXİ
                    th STATUS
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-pending
                        | Çıxma əmrinin verilməsi gözlənilir
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-command
                        | Çıxma əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-approve
                        | Təstiq et
                    td
                        a(href="#")
                            img(src="images/close.svg")
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 12/05/2019
                    td
                        span.status-accepted
                        | Qəbul edilmə əmri verildi
                    td
                        a(href="#")
                            img(src="images/close.svg")
