edu-transfer/dist/students-profile-queue.html
<!DOCTYPE html><html class="no-js"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><title>Məktəblər- Edu Transfer</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/modernizr.js"></script></head><body><!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser.</p><![endif]--><html><body><header class="main-header"><div class="bg-primary"><div class="py-2"><div class="row align-items-center"><div class="col-2"><a class="brand-logo text-decoration-none" href="index.html"><img src="images/group.svg" alt=""><span class="text-white">Azərbaycan Respublikasi Təhsil Nazirliyi</span></a></div><div class="col"><span class="text-white ml-2">ŞAGİRDLƏRİN HƏRƏKƏTİ ELEKTRON XİDMƏTİ</span></div><div class="col-auto"><a class="text-white mr-4" href="#">Əliyev Əli</a></div></div></div></div></header></body></html><main><div class="row flex-nowrap"><div class="col-2"><div class="custom-profile"><div class="custom-profile--details text-center"><img class="d-block mx-auto" src="images/user-picture.png"><span>Ad Soyad Ata adı</span></div><ul class="custom-profile--menu"><li><a class="text-black" href="#">Ümumi məlumat</a></li><li><a class="text-black" href="#">Müraciət</a></li><li><a class="text-black active" href="#">Növbə</a></li></ul></div></div><div class="col"><div class="main-wrapper"><div class="card main-header-breadcrumb mm-20"><div class="card-body"><div class="row justify-content-between align-items-center"><div class="col-auto"><img class="align-middle" src="images/back.svg"><span class="align-middle">NÖVBƏ</span></div><div class="col-auto text-center"><a class="d-inline-block text-secondary ml-3" href="#"><img class="d-block mx-auto" src="images/reload-big.svg">Yenilə</a></div></div></div></div><div class="main-wrapper--article"><table class="table table-hover"><thead><tr><th>ID</th><th>SOYADI, ADI</th><th>OXUDUĞU MƏKTƏB</th><th>MƏKTƏBİN UTİS KODU</th><th>YENİ MƏKTƏB</th><th>YENİ MƏKTƏBİN UTİS KODU</th><th>NÖVBƏDƏKİ YERİ</th><th>SİL</th></tr></thead><tbody><tr><td>12345678</td><td>Abasquliyev Əlislam Bəxtiyar oğlu</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>1 nömrəli tam orta məktəb</td><td>12345678</td><td>5</td><td><a href="#"><img src="images/close.svg"></a></td></tr></tbody></table></div></div></div></div></main><script src="scripts/vendor.js"></script></body></html>

edu-transfer/app/students-profile-queue.pug
extends includes/cabinet_base.pug

block vars
    - profileVal = 'Növbə';
    - registerForm = 'apply-gov-school-form';
    -
        var $_tree = {
            'Ümumi məlumat': null,
            'Müraciət': null,
            'Növbə': null
        };
block title
    | Məktəblər


block content
    .card.main-header-breadcrumb.mm-20
        .card-body
            .row.justify-content-between.align-items-center
                .col-auto
                    img.align-middle(src="images/back.svg")
                    span.align-middle
                        |
                        | NÖVBƏ
                .col-auto.text-center
                    a.d-inline-block.text-secondary.ml-3(href="#")
                        img.d-block.mx-auto(src="images/reload-big.svg")
                        | Yenilə
    .main-wrapper--article
        table.table.table-hover
            thead
                tr
                    th ID
                    th SOYADI, ADI
                    th OXUDUĞU MƏKTƏB
                    th MƏKTƏBİN UTİS KODU
                    th YENİ MƏKTƏB
                    th YENİ MƏKTƏBİN UTİS KODU
                    th NÖVBƏDƏKİ YERİ
                    th SİL
            tbody
                tr
                    td 12345678
                    td Abasquliyev Əlislam Bəxtiyar oğlu
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 1 nömrəli tam orta məktəb
                    td 12345678
                    td 5
                    td
                        a(href="#")
                            img(src="images/close.svg")
